<header class="bg-white">
  <nav
    class="flex items-center justify-between p-6 px-8 mx-auto max-w-7xl"
    aria-label="Global"
  >
    <!-- Logo -->
    <div class="flex flex-1">
      <a [routerLink]="['/']" class="-m-1.5 p-1.5">
        <span class="sr-only">Hackernews</span>
        <img
          class="w-[75.5px] h-8"
          priority
          [width]="75.5"
          [height]="32"
          ngSrc="./assets/logo.webp"
          alt=""
        />
      </a>
    </div>
    <!-- Center nav items -->
    <div class="flex gap-x-12">
      <a
        [routerLink]="['/', 'posts', 'top']"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Top posts</a
      >
      <a
        [routerLink]="['/', 'posts', 'saved']"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Saved posts</a
      >
      <!--  <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Best posts</a
      >
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Newest posts</a
      > -->
    </div>
    <!-- end nav items -->
    <div class="flex justify-end flex-1">
      <a
        href="https://github.com/BeGj/Hackernews"
        target="_blank"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        Github
      </a>
      <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Log in <span aria-hidden="true">&rarr;</span></a
      > -->
    </div>
  </nav>
</header>
