<section class="">
  <ng-container *ngIf="this.post$ | async as post">
    <h1 class="text-lg">{{ post.title }}</h1>
    <p class="text-sm text-gray-600">
      {{ post.time * 1000 | date : "medium" }} by
      <a
        class="hover:underline underline-offset-2 decoration-orange-600"
        [routerLink]="['/user', post.by]"
      >
        {{ post.by }}</a
      >
    </p>
    <section class="flex flex-row my-2 space-x-5">
      <button
        class="px-2 py-1 text-sm transition-colors bg-orange-600 rounded-md hover:bg-orange-700 text-orange-50"
        (click)="this.linkIframeVisible.next(!this.linkIframeVisible.value)"
      >
        Open post with comments
      </button>
      <a
        target="_blank"
        class="px-2 py-1 text-sm transition-colors bg-orange-600 rounded-md hover:bg-orange-700 text-orange-50"
        [href]="post.url"
      >
        Open post in new tab
      </a>
    </section>
    <iframe
      *ngIf="post.url && (linkIframeVisible | async) === true"
      class="h-[80vh] mx-auto w-[100%]"
      [src]="sanitizer.bypassSecurityTrustResourceUrl(post.url)"
      frameborder="0"
    ></iframe>
  </ng-container>
  <section
    class="flex flex-col space-y-4"
    *ngIf="comments$ | async as comments"
  >
    <app-comment
      class="block"
      [style.margin-left.rem]="1"
      *ngFor="let comment of comments"
      [comment]="comment"
      [hierarchyLevel]="1"
    ></app-comment>
  </section>
</section>
