<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="flex flex-row px-2 space-x-2">
  <div class="flex flex-row justify-center w-4 place-content-center">
    <p class="my-auto font-mono text-xl font-bold text-gray-600" *ngIf="index">
      {{ index }}.
    </p>
  </div>
  <div class="flex-1">
    <!-- Link to external url if exists -->
    <a
      *ngIf="post.url"
      class="text-lg font-semibold transition-colors hover:text-orange-600 visited:text-gray-400 visited:hover:text-gray-600"
      [href]="post.url"
    >
      {{ post.title }}
      <span class="text-xs text-gray-400">({{ post.url | urlPreview }})</span>
    </a>
    <!-- Link to comments if no external url -->
    <a
      *ngIf="!post.url"
      class="text-lg font-semibold transition-colors hover:text-orange-600 visited:text-gray-400 visited:hover:text-gray-600"
      [routerLink]="['/posts', post.id]"
    >
      <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.title)"> </span>
    </a>
    <!-- points, date and user link  -->
    <p class="text-sm text-gray-600">
      {{ post.score }} point posted at
      {{ post.time * 1000 | date : "medium" }} by
      <a
        class="hover:underline underline-offset-2 decoration-orange-600"
        [routerLink]="['/user', post.by]"
        >{{ post.by }}</a
      >
    </p>
    <!-- comment count and link, and save/unsave post -->
    <p class="text-sm text-gray-600" *ngIf="post.type === 'story'">
      <a
        *ngIf="post.descendants"
        [routerLink]="['/posts', post.id]"
        class="hover:underline underline-offset-2 decoration-orange-600"
      >
        {{ post.descendants }} comments.
      </a>
      <span
        *ngIf="post.saved === true"
        (click)="this.savedPostsService.unSavePost(post.id)"
        class="cursor-pointer hover:underline underline-offset-2 decoration-orange-600"
      >
        Unsave post.
      </span>
      <span
        *ngIf="post.saved === false"
        (click)="this.savedPostsService.savePost(post.id)"
        class="cursor-pointer hover:underline underline-offset-2 decoration-orange-600"
      >
        Save post.
      </span>
    </p>
  </div>
</div>
