<!-- Page title and stories count -->
<section class="mb-2">
  <p class="text-xl">
    {{ pageTitle$ | async }}
    <span *ngIf="this.storiesCount$ | async as count" class="text-gray-600"
      >({{ count === 0 ? "loading..." : count }})</span
    >
  </p>
  <p class="text-gray-700" *ngIf="(this.storiesLoading$ | async) === true">
    Loading stories...
  </p>
  <p
    class="text-gray-700"
    *ngIf="(this.storiesContentLoading$ | async) === true"
  >
    Loading stories info...
  </p>
</section>

<section
  class="flex flex-col space-y-2"
  *ngIf="this.stories$ | async as stories"
>
  <app-list-view-story
    *ngFor="let story of stories; let index = index"
    [story]="story"
    [index]="index + 1"
  ></app-list-view-story>
</section>
