<!-- Page title and posts count -->
<section class="mb-2">
  <p class="text-xl">
    {{ pageTitle$ | ngrxPush }}
    <span *ngrxLet="this.postsCount$ as count" class="text-gray-600"
      >({{ count }})</span
    >
  </p>
  <p class="text-gray-700" *ngIf="(this.postsLoading$ | ngrxPush) === true">
    Loading posts...
  </p>
  <p
    class="text-gray-700"
    *ngIf="(this.postsContentLoading$ | ngrxPush) === true"
  >
    Loading posts info...
  </p>
</section>

<section class="flex flex-col space-y-2" *ngrxLet="this.posts$ as posts">
  <app-list-view-post
    *ngFor="let post of posts; let index = index"
    [post]="post"
    [index]="index + 1"
  ></app-list-view-post>
</section>
